<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper>
  	<resultMap type="BoardDto" id="boardMap">
 		<result property="myno" column="MYNO"/>
 		<result property="myname" column="MYNAME"/>
 		<result property="mytitle" column="MYTITLE"/>
 		<result property="mycontent" column="MYCONTENT"/>
 		<result property="mydate" column="MYDATE"/>
  	</resultMap>
  	<select id="selectList" resultMap="boardMap">
  		SELECT *
  		FROM BOARDD
  		ORDER BY MYNO DESC;
  	</select>	
  	
  </mapper>
  